html {
  overflow-x: hidden;
}
body {
  font-family: var(--primary-font-family);
  font-size: 16px;
  font-weight: 400;
  background-color: var(--body);
  padding: 0 15px;
}
.primary-font {
  font-family: var(--primary-font-family);
}
.profile-icon {
  background-color: var(--birch);
}
.ant-space-item {
  line-height: 0;
}
.anticon-down {
  max-width: 12px;
}
main {
  max-width: var(--defaultBoxWidth);
}
/* .main-box-transform,.send-msg{
  max-width: calc(var(--defaultBoxWidth) + 40px);
} */
.content-area {
  min-height: calc(100vh - var(--header-height) * 3);
  max-height: calc(100vh - var(--header-height) * 3);
  padding: 10px 0;
}
/* TRACK */
::-webkit-scrollbar {
  width: 6px;
  height: 4px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: var(--transition-smooth);
}

::-webkit-scrollbar-track {
  background: #eee;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

.ant-input.resize-none {
  resize: none;
}
.text-nose {
  color: var(--nose);
}
/* bg gradiant */
.to-bg-400 {
  --tw-gradient-to: hsl(var(--bg-400) / 1) var(--tw-gradient-to-position);
}
.from-50\% {
  --tw-gradient-from-position: 50%;
}
.from-bg-300 {
  --tw-gradient-from: hsl(var(--bg-300) / 1) var(--tw-gradient-from-position);
  /* --tw-gradient-to: hsl(var(--bg-300) / 0) var(--tw-gradient-to-position); */
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
.bg-gradient-to-b {
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
}
.bg-primary{
  background-color: var(--body);
}
.main-box-transform {
  position: absolute;
  left: calc(100vw - 85%);
  width: 100%;
}
.show-box {
  top: var(--header-height);
  max-width: var(--defaultBoxWidth);
  max-height: calc(100vh - var(--header-height) + -15px);
  min-height: calc(100vh - var(--header-height) + -15px);
  transform: translateX(100%);
}
.show-box-transform {
  transform: translateX(0px);
}
.show-detail-head {
  background-color: var(--body-secondary);
}
.show-detail-head:hover {
  background-color: var(--body-nose);
}
.hover-bg:hover {
  background-color: var(--body);
}
.show-box-header {
  background-color: var(--white);
}
.prodile-content-calc-width{
  width: calc(100% - 30px);
}
/* button css */
.btn-green-border {
  min-width: 70px;
  font-weight: 700;
  background-color: transparent;
  color: var(--nose);
  border: 1px solid var(--nose-black);
  overflow: hidden;
  z-index: 1;
}
.btn-green-border:hover{
  border-color: var(--green);
}
.btn-green-border:after {
  background: var(--green);
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.btn-green-border:hover:after {
  top: auto;
  bottom: 0;
  height: 100%;
}
.btn-red-border:after{
  background-color: var(--red);
}
.btn-red-border:hover{
  border-color: var(--red);
}
.graph-view-card{
  width: calc(100% - 80px);
}
.media-display-content-wrap{
  height: calc(100vh - 117px);
}